.home {
    width: 80%;
    max-width: 500px;
    margin: 30px auto;
    text-align: center;
    box-shadow: 0 2px 3px #CCC;
    border: 1px solid #EEE;
    padding: 15px;
    background-color: white;
}

.home p {
    text-align: left;
}

.landingImage {
    border: 2px solid forestgreen;
    border-radius: 30px;
    margin-top: 20px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}