.details {
    margin: 35px auto;
    padding: 15px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 2px 3px #CCC;
    border: 1px solid #EEE;
    background-color: white;
    text-align: center;
}

.details h2 {
    font-family: 'Lobster', cursive;
}

.details h4 {
    text-decoration: underline;
    color: forestgreen;
}

.sativa {
    color: coral;
}

.indica {
    color: darkviolet;
}

.hybrid {
    color: dodgerblue;
}