.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 10px;
    background-color: rgba(245, 245, 245, .8);
}

.flex-bottom {
    flex: 10;
    overflow-y: scroll;
    text-align: center;
    background-color: rgba(34, 139, 34, 0.4);
    display: flex;
    flex-direction: column;
}

.flex-main {
    flex: 10;
}

.flex-footer {
    flex: 1;
    margin-bottom: 10px;
}