.flex-cabinet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cabinet-strain {
    margin: 25px;
    padding: 15px;
    border: 3px solid black;
    border-radius: 30px;
    background-color: white;
}

.cabinet-strain:hover {
    border-color: forestgreen;
}

.cabinet-strain h2 {
    font-family: 'Lobster', cursive;
}

@media (max-width: 845px) {
    .flex-cabinet {
        flex-direction: column;
    }
}