.flex-nav {
    display: inline-flex;
}

.nav-item {
    list-style-type: none;
    margin: 25px;
}

a {
    color: black;
    font-weight: bold;
}

a:hover {
    color: forestgreen;
}

@media (max-width: 845px) {
    .nav-item {
        margin: 10px;
    }
}