.flex-single-strain {
    display: flex;
    flex-direction: column;
}

.flex-single-strain h2 {
    font-family: 'Lobster', cursive;
}

.detail-heading {
    text-decoration: underline;
}

.comment-content {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.sativa {
    color: coral;
}

.indica {
    color: darkviolet;
}

.hybrid {
    color: dodgerblue;
}