* {
    box-sizing: border-box;

}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    background: url("https://i.postimg.cc/T3nhnbQg/cannabis-compressor.jpg") no-repeat center center fixed;
    background-size: cover;
}

#root {
    display: grid;
    grid-template-rows: 4.125rem auto fit-content(3.125rem);
    grid-template-areas: "header"
                         "main"
                         "footer";
    height: 100%;
}

.input {
    width: 100%;
    padding: 10px;
}

.label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.input-element {
    outline: none;
    border: 1px solid #CCC;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
}

.input-element:focus {
    outline: none;
    background-color: #CCC;
}

.invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}

.info-form {
    margin: 35px auto;
    width: 80%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 2px 3px #CCC;
    border: 1px solid #EEE;
    padding: 15px;
    background-color: white;
}
    
.dropdown-form {
    margin: 20px 0;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 3px #CCC;
    border: 1px solid #EEE;
    padding: 10px;
    background-color: white;
}

.form-heading {
    color: forestgreen;
}

.error {
    color: red;
    text-align: center;
}

.success {
    color: green;
    text-align: center;
}

.not-found {
    text-align: center;
}

.loading-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: forestgreen;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}