* {
    box-sizing: border-box;

}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    background: url("https://i.postimg.cc/T3nhnbQg/cannabis-compressor.jpg") no-repeat center center fixed;
    background-size: cover;
}

#root {
    display: grid;
    grid-template-rows: 4.125rem auto fit-content(3.125rem);
    grid-template-areas: "header"
                         "main"
                         "footer";
    height: 100%;
}

.input {
    width: 100%;
    padding: 10px;
}

.label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.input-element {
    outline: none;
    border: 1px solid #CCC;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
}

.input-element:focus {
    outline: none;
    background-color: #CCC;
}

.invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}

.info-form {
    margin: 35px auto;
    width: 80%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 2px 3px #CCC;
    border: 1px solid #EEE;
    padding: 15px;
    background-color: white;
}
    
.dropdown-form {
    margin: 20px auto;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 3px #CCC;
    border: 1px solid #EEE;
    padding: 10px;
    background-color: white;
}

.form-heading {
    color: forestgreen;
}

.error {
    color: red;
}

.success {
    color: green;
}