* {
    box-sizing: border-box;

}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    background: url("https://i.postimg.cc/T3nhnbQg/cannabis-compressor.jpg") no-repeat center center fixed;
    background-size: cover;
}

#root {
    display: grid;
    grid-template-rows: 4.125rem auto fit-content(3.125rem);
    grid-template-areas: "header"
                         "main"
                         "footer";
    height: 100%;
}

.info-form {
    margin: 35px auto;
    width: 80%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 2px 3px #CCC;
    border: 1px solid #EEE;
    padding: 15px;
    background-color: white;
}
    
.dropdown-form {
    margin: 20px auto;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 3px #CCC;
    border: 1px solid #EEE;
    padding: 10px;
    background-color: white;
}

.form-heading {
    color: forestgreen;
}

